<h1> Listado de Libros </h1>

<table class="table table-striped">
    <thead>
        <tr>
            <td>Id</td>
            <td>Nombre</td>
            <td>Categoria</td>
            <td>Año</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let libro of libros">
            <td>{{ libro.id }}</td>
            <td>{{ libro.name }}</td>
            <td>{{ libro.category }}</td>
            <td>{{ libro.year }}</td>
        </tr>
    </tbody>
</table>


<button type="button" (click)="recargarPagina()">Recargar</button>